<template>
	<div class="container is-fluid">
		<header class="header">
			<strong>
				<g-link to="/">{{ $static.metadata.siteName }}</g-link>
			</strong>
			<nav class="nav">
				<!-- <g-link class="nav__link" to="/">Home</g-link> -->
				<g-link class="nav__link" to="/about">About</g-link>
			</nav>
		</header>
		<main class="main">
			<slot/>
		</main>
	</div>
</template>

<static-query>
query {
	metadata {
		siteName
	}
}
</static-query>

<style lang="scss">
	@import '../buefy.scss';
	
	body {
		//font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
		margin:0;
		padding:0;
		line-height: 1.5;
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		height: 80px;
	}
	
	.main {
		padding-bottom: 25vh;
	}
	
	.nav__link {
		margin-left: 20px;
	}
</style>
