<template>
	<Layout>
		<div class="container is-max-desktop">
			<h1 class="title is-4">About</h1>
			<section class="card">
				<ul class="card-content">
					<li class="mb-2">
						<span class="icon-text is-flex-wrap-nowrap">
							<Emoji codepoint="1f916" :size="24" />
							<span>This app is offered as a <a href="https://t.me/f1_alerts_bot">Telegram Bot</a> as well.</span>
						</span>
					</li>
					<li class="mb-2">
						<span class="icon-text is-flex-wrap-nowrap">
							<Emoji codepoint="1f64f" :size="24" />
							<span>The whole project wouldn't exist without the <a href="https://ergast.com/mrd/">Ergast Developer API</a>.</span>
						</span>
					</li>
					<li class="mb-2">
						<span class="icon-text is-flex-wrap-nowrap">
							<Emoji codepoint="1f929" :size="24" />
							<span>All icons are <a href="https://twemoji.twitter.com/">Twemoji</a>s.</span>
						</span>
					</li>
					<li class="mb-2">
						<span class="icon-text is-flex-wrap-nowrap">
							<Emoji codepoint="1f9d1-200d-1f4bb" :size="24" />
							<span>Source code on <a href="https://gitlab.com/tilt-me/f1-alerts">GitLab</a>.</span>
						</span>
					</li>
				</ul>
			</section>
		</div>
	</Layout>
</template>

<script>
import Emoji from "~/components/Emoji";

export default {
	metaInfo: {
		title: "About"
	},
	components: {
		Emoji,
	},
};
</script>
