<template>
	<Layout>
		<div class="container is-max-desktop">
			<!-- Learn how to use images here: https://gridsome.org/docs/images -->
			<!-- <g-image alt="Example image" src="~/favicon.png" width="135" /> -->
			
			<h1 class="title is-4 has-text-centered">Get info about the current F1&trade; Championship</h1>
			<!-- 
			<button @click="fetchApi('nextRound')">Print next round schedule</button>
			<button @click="onClick('/current/last/results.json')">Print last round results</button>
			<button @click="onClick('/current/last/qualifying.json')">Print last qualifying results</button>
			<button @click="onClick('/current/driverStandings.json')">List driver standings</button>
			<button @click="onClick('/current/constructorStandings.json')">List constructor standings</button>
			<button @click="onClick('/current.json')">List schedule of races</button>
			-->
			<b-tabs
				:animated="false"
				expanded
				:multiline="true"
				position="is-centered"
				type="is-toggle"
				:vertical="false"
				v-model="activeTab"
				v-on:input="fetchApi"
			>
				<b-tab-item
					value="nextRound"
				>
					<template #header>
						Next round
						<Emoji codepoint="1f5d3" :size="20" />
					</template>
					<div class="columns is-centered">
						<article class="column is-half">
							<h2 class="title is-6 emoji-incorporated">
								Next round schedule
								<Emoji codepoint="1f5d3" :size="30" />
							</h2>
							<template v-if="nextRound.response.MRData">
								<nav class="level">
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">season</p>
											<p class="title">{{nextRound.response.MRData.RaceTable.season}}</p>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">round</p>
											<p class="title">#{{nextRound.response.MRData.RaceTable.round}}</p>
										</div>
									</div>
								</nav>
								<div v-if="nextRound.response.MRData.RaceTable.Races[0]" class="card">
									<div class="card-content">
										<div class="content">
											<p class="subtitle is-5 emoji-incorporated">
												<Emoji :shortcode="shortcodeFromCountry(nextRound.response.MRData.RaceTable.Races[0].Circuit.Location.country)" :size="50" />
												{{nextRound.response.MRData.RaceTable.Races[0].raceName}}
											</p>
											<span class="emoji-incorporated is-justify-content-flex-start">
												<Emoji codepoint="1f5fa" :size="20" />
												{{nextRound.response.MRData.RaceTable.Races[0].Circuit.Location.locality}},
												{{nextRound.response.MRData.RaceTable.Races[0].Circuit.Location.country}}
											</span>
											<span class="emoji-incorporated is-justify-content-flex-start">
												<Emoji codepoint="1f5d3" :size="20" />
												{{nextRound.response.MRData.RaceTable.Races[0].date}}
											</span>
											<span class="emoji-incorporated is-justify-content-flex-start">
												<Emoji codepoint="231a" :size="20" />
												{{nextRound.response.MRData.RaceTable.Races[0].time}}
											</span>
											<hr />
											<table class="table">
												<thead>
													<th>Session</th>
													<th>Date/Time</th>
												</thead>
												<tbody>
													<template v-if="!nextRound.response.MRData.RaceTable.Races[0].Sprint">
														<Session
															title="FP1"
															expansion="Free Practice 1"
															:date="nextRound.response.MRData.RaceTable.Races[0].FirstPractice.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].FirstPractice.time"
														/>
														<Session
															title="FP2"
															expansion="Free Practice 2"
															:date="nextRound.response.MRData.RaceTable.Races[0].SecondPractice.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].SecondPractice.time"
														/>
														<Session
															title="FP3"
															expansion="Free Practice 3"
															:date="nextRound.response.MRData.RaceTable.Races[0].ThirdPractice.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].ThirdPractice.time"
														/>
														<Session
															title="Q"
															expansion="Qualifying"
															:date="nextRound.response.MRData.RaceTable.Races[0].Qualifying.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].Qualifying.time"
														/>
														<Session
															title="R"
															expansion="Race"
															:date="nextRound.response.MRData.RaceTable.Races[0].date"
															:time="nextRound.response.MRData.RaceTable.Races[0].time"
														/>
													</template>
													<template v-else>
														<Session
															title="FP1"
															expansion="Free Practice 1"
															:date="nextRound.response.MRData.RaceTable.Races[0].FirstPractice.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].FirstPractice.time"
														/>
														<Session
															title="Q"
															expansion="Qualifying"
															:date="nextRound.response.MRData.RaceTable.Races[0].Qualifying.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].Qualifying.time"
														/>
														<Session
															title="SS"
															expansion="Sprint Shootout"
															:date="nextRound.response.MRData.RaceTable.Races[0].SecondPractice.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].SecondPractice.time"
														/>
														<Session
															title="SR"
															expansion="Sprint Race"
															:date="nextRound.response.MRData.RaceTable.Races[0].Sprint.date"
															:time="nextRound.response.MRData.RaceTable.Races[0].Sprint.time"
														/>
														<Session
															title="R"
															expansion="Race"
															:date="nextRound.response.MRData.RaceTable.Races[0].date"
															:time="nextRound.response.MRData.RaceTable.Races[0].time"
														/>
													</template>
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div v-else class="card">
									<div class="card-content">
										<div class="content">
											<p class="subtitle is-5 emoji-incorporated">
												<Emoji shortcode=":waving_white_flag:" :size="50" />
												data not yet available
											</p>
										</div>
									</div>
								</div>
							</template>
							<b-loading v-else :active="true" :is-full-page="false"></b-loading>
						</article>
					</div>
				</b-tab-item>
				<!-- 
				<b-tab-item
					label="Last qualifying"
					value="lastQualifying"
				>
					<div class="columns is-centered">
						<div class="column is-half">
							<h2 class="title is-5">Last qualifying results</h2>
							<template v-if="lastQualifying.response.MRData">
								<p class="subtitle is-6">Round #{{lastQualifying.response.MRData.RaceTable.round}} of {{lastQualifying.response.MRData.RaceTable.season}} season</p>
								<ol>
									<li v-for="result in lastQualifying.response.MRData.RaceTable.Races[0].QualifyingResults" :key="result.position +'-'+ result.Driver.driverId">
										{{ result.position }} {{ result.Driver.familyName }} {{ result.Constructor.name }}
									</li>
								</ol>
							</template>
							<b-loading v-else :active="true" :is-full-page="false"></b-loading>
						</div>
					</div>
				</b-tab-item>
				 -->
				<b-tab-item
					value="lastRound"
				>
					<template #header>
						Last round
						<Emoji codepoint="1f3c1" :size="20" />
					</template>
					<div class="columns is-centered">
						<article class="column is-half">
							<h2 class="title is-6 emoji-incorporated">
								Last round results
								<Emoji codepoint="1f3c1" :size="30" />
							</h2>
							<template v-if="lastRound.response.MRData">
								<nav class="level">
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">season</p>
											<p class="title">{{lastRound.response.MRData.RaceTable.season}}</p>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">round</p>
											<p class="title">#{{lastRound.response.MRData.RaceTable.round}}</p>
										</div>
									</div>
								</nav>
								<div class="card">
									<div class="card-content">
										<div class="content">
											<p class="subtitle is-5 emoji-incorporated">
												<Emoji :shortcode="shortcodeFromCountry(lastRound.response.MRData.RaceTable.Races[0].Circuit.Location.country)" :size="50" />
												{{lastRound.response.MRData.RaceTable.Races[0].raceName}}
											</p>
										</div>
									</div>
								</div>
								<br />
								<ol class="result__list">
									<li class="result__item" v-for="result in lastRound.response.MRData.RaceTable.Races[0].Results" :key="result.position +'-'+ result.Driver.driverId">
										<span class="result__pos">{{ result.position }}</span>
										<span class="result__name">
											<span class="result__driver">{{ result.Driver.familyName }}</span>
											<span class="result__constructor">{{ result.Constructor.name }}</span>
										</span>
										<span class="result__point">+{{ result.points }}</span>
									</li>
								</ol>
							</template>
							<b-loading v-else :active="true" :is-full-page="false"></b-loading>
						</article>
					</div>
				</b-tab-item>
				
				<b-tab-item
					value="driverStandings"
				>
					<template #header>
						Driver standings
						<Emoji codepoint="1f3c6" :size="20" />
					</template>
					<div class="columns is-centered">
						<article class="column is-half">
							<h2 class="title is-6 emoji-incorporated">
								Driver standings
								<Emoji codepoint="1f3c6" :size="30" />
							</h2>
							<template v-if="driverStandings.response.MRData">
								<nav class="level">
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">season</p>
											<p class="title">{{driverStandings.response.MRData.StandingsTable.season}}</p>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">round</p>
											<p class="title">#{{driverStandings.response.MRData.StandingsTable.StandingsLists[0].round}}</p>
										</div>
									</div>
								</nav>
								<ol class="result__list">
									<li class="result__item" v-for="standing in driverStandings.response.MRData.StandingsTable.StandingsLists[0].DriverStandings" :key="standing.Driver.driverId">
										<span class="result__pos">{{ standing.position }}</span>
										<span class="result__name">
											<span class="result__driver">{{ standing.Driver.familyName }}</span>
										</span>
										<span class="result__point">{{ standing.points }}</span>
									</li>
								</ol>
							</template>
							<b-loading v-else :active="true" :is-full-page="false"></b-loading>
						</article>
					</div>
				</b-tab-item>
				
				<b-tab-item
					value="constructorStandings"
				>
					<template #header>
						Constructor standings
						<Emoji codepoint="1f3c6" :size="20" />
					</template>
					<div class="columns is-centered">
						<article class="column is-half">
							<h2 class="title is-6 emoji-incorporated">
								Constructor standings
								<Emoji codepoint="1f3c6" :size="30" />
							</h2>
							<template v-if="constructorStandings.response.MRData">
								<nav class="level">
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">season</p>
											<p class="title">{{constructorStandings.response.MRData.StandingsTable.season}}</p>
										</div>
									</div>
									<div class="level-item has-text-centered">
										<div>
											<p class="heading">round</p>
											<p class="title">#{{constructorStandings.response.MRData.StandingsTable.StandingsLists[0].round}}</p>
										</div>
									</div>
								</nav>
								<ol class="result__list">
									<li class="result__item" v-for="standing in constructorStandings.response.MRData.StandingsTable.StandingsLists[0].ConstructorStandings" :key="standing.Constructor.constructorId">
										<span class="result__pos">{{ standing.position }}</span>
										<span class="result__name">
											<span class="result__constructor">{{ standing.Constructor.name }}</span>
										</span>
										<span class="result__point">{{ standing.points }}</span>
									</li>
								</ol>
							</template>
							<b-loading v-else :active="true" :is-full-page="false"></b-loading>
						</article>
					</div>
				</b-tab-item>
				
				<b-tab-item
					value="schedule"
				>
					<template #header>
						Race calendar
						<Emoji codepoint="1f5d3" :size="20" />
					</template>
					<article class="schedule-article">
						<h2 class="title is-6 emoji-incorporated">
							Race calendar
							<Emoji codepoint="1f5d3" :size="30" />
						</h2>
						<template v-if="schedule.response.MRData">
							<nav class="level">
								<div class="level-item has-text-centered">
									<div>
										<p class="heading">season</p>
										<p class="title">{{schedule.response.MRData.RaceTable.season}}</p>
									</div>
								</div>
							</nav>
							<b-tabs
								:animated="false"
								:expanded="false"
								:multiline="false"
								position="is-centered"
								:vertical="false"
								:destroy-on-hide="true"
							>
								<b-tab-item>
									<template #header>
										List
										<Emoji codepoint="23-20e3" :size="20" />
									</template>
									<div class="columns is-centered is-gapless">
										<ol class="race__list column is-half">
											<li class="race__item" v-for="race in schedule.response.MRData.RaceTable.Races" :key="race.season +'-'+ race.round">
												<span class="race__round">
													#{{ race.round }}
													<abbr v-if="race.Sprint" class="race__note" title="Sprint Race">SR</abbr>
												</span>
												<span class="race__name emoji-incorporated is-justify-content-flex-start is-align-items-flex-start">
													<Emoji :shortcode="shortcodeFromCountry(race.Circuit.Location.country)" :size="30" />
													<span>{{ race.raceName }}
													</span>
												</span>
												<span class="race__date">{{ race.date }}</span>
											</li>
										</ol>
									</div>
								</b-tab-item>
								<b-tab-item>
									<template #header>
										Map
										<Emoji codepoint="1f5fa" :size="20" />
									</template>
									<Map :raceList="schedule.response.MRData.RaceTable.Races" />
								</b-tab-item>
							</b-tabs>
						</template>
						<b-loading v-else :active="true" :is-full-page="false"></b-loading>
					</article>
				</b-tab-item>
				
			</b-tabs>
		</div>
	</Layout>
</template>

<style lang="scss">
	@import '../buefy.scss';
	
	.tabs.is-toggle li + li {
		margin-left: 0;// fix missing border on small resolutions, when tabs are multiline
	}
	
	.b-tabs .tab-content {
		padding-inline: 0;
	}
	
	.result {
		
		&__list {
			list-style: none;
		}
		
		&__item {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding-bottom: 1.5em;
		}
		
		/// @see https://css-tricks.com/adding-stroke-to-web-text/
		&__pos {
			background-color: $color-secondary;
			color: $color-tertiary;
			flex-basis: calc(#{$size-result} / 2);
			flex-grow: 0;
			flex-shrink: 0;
			font-family: monospace;
			font-size: $size-result;
			font-weight: 700;
			height: calc(#{$size-result} / 2);
			line-height: calc(#{$size-result} / 2);
			margin-inline-end: calc(#{$size-result} / 10);
			position: relative;
			text-align: center;
			-webkit-text-fill-color: $color-tertiary;
			-webkit-text-stroke-width: calc(#{$size-result} / 50);
			-webkit-text-stroke-color: $white;
			//width: calc(#{$size-result} / 2);
		}
		
		&__name {
			display: flex;
			flex-basis: 0;
			flex-direction: column;
			flex-grow: 1;
			flex-shrink: 0;
		}
		
		&__point {
			flex-basis: 0;
			flex-grow: 0;
			flex-shrink: 0;
			font-family: monospace;
			font-weight: 700;
		}
	}
	
	.race {
		
		&__list {
			list-style: none;
		}
		
		&__item {
			align-items: flex-start;
			border-bottom: solid 1px $grey-light;
			display: flex;
			justify-content: space-between;
			margin-bottom: .5em;
			padding-bottom: .5em;
		}
		
		&__round {
			flex-basis: 2.5em;
			flex-grow: 0;
			flex-shrink: 0;
			font-family: monospace;
		}
		
		&__note {
			cursor: help;
			
			&::before {
				content: '(';
			}
			
			&::after {
				content: ')';
			}
		}
		
		&__name {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 0;
			padding-inline-end: 1em;
		}
		
		&__date {
			flex-basis: 0;
			flex-grow: 0;
			flex-shrink: 0;
			font-family: monospace;
			font-weight: 700;
			white-space: nowrap;
		}
	}
</style>

<script>
	import Emoji from '~/components/Emoji';
	import Map from '~/components/Map';
	import Session from '~/components/Session';
	import country from '~/data/country.json';
	
	export default {
		metaInfo: {
			title: 'F1 Alerts web interface',
		},
		components: {
			Emoji,
			Map,
			Session,
		},
		data() {
			return {
				activeTab: null,// null will show no tab
				nextRound: {
					endpoint: '/current/next.json',
					response: {},
				},
				lastRound: {
					endpoint: '/current/last/results.json',
					response: {},
				},
				lastQualifying: {
					endpoint: '/current/last/qualifying.json',
					response: {},
				},
				driverStandings: {
					endpoint: '/current/driverStandings.json',
					response: {},
				},
				constructorStandings: {
					endpoint: '/current/constructorStandings.json',
					response: {},
				},
				schedule: {
					endpoint: '/current.json',
					response: {},
				},
				country: country,
			};
		},
		methods: {
			fetchApi(query) {
				fetch(`${process.env.GRIDSOME_API_URL}/f1${this[query].endpoint}`)
					.then(response => response.json())
					.then(data => this[query].response = data)
					.catch(error => {
						console.log(error);
					});
			},
			/**
			 * @see https://stackoverflow.com/questions/40522634/can-i-pass-parameters-in-computed-properties-in-vue-js
			 */
			shortcodeFromCountry: function(currentCountry) {// `this` points to the vm instance
				return this.country[currentCountry] ?
					`:flag-${this.country[currentCountry]}:`:
					`:waving_white_flag:`;
			},
		},
	}
</script>
