<template>
	<span class="emoji">
		<img
			v-if="codepoint"
			:src="`${GRIDSOME_IMAGE_PATH}images/emoji/${codepoint}.svg`"
			:height="size"
			:width="size"
			alt=""
		/>
		<img
			v-if="shortcode"
			:src="`${GRIDSOME_IMAGE_PATH}images/emoji/${codepointFromShortcode}.svg`"
			:height="size"
			:width="size"
			:alt="shortcode"
		/>
		<!-- 
		<b-image
			alt=""
			ratio="1by1"
			:src="`/images/emoji/${codepoint}.svg`"
		></b-image>
		<div class="card">
			<g-link class="card-link" :to="path">
				<div class="card-image">
					<figure class="image">
						<g-image
							v-if="cover"
							:alt="caption"
							:src="cover"
						/>
						<img
							v-else
							alt="Placeholder image"
							src="https://bulma.io/images/placeholders/1280x960.png"
						/>
					</figure>
				</div>
				<div class="card-content">
					<div class="content">
						<h2>{{title}}</h2>
						<p v-html="excerpt"> </p>
					</div>
				</div>
			</g-link>
		</div>
		 -->
	</span>
</template>

<style lang="scss">
	//@import '../buefy.scss';
	@import "../custom-buefy.scss";// only variables, don't output anything
	
	.emoji-incorporated {// emoji is at end or start of normal text
		align-items: center;
		display: flex;
		justify-content: center;
	}
	
	.emoji-standalone {// emoji is a standalone, solitary icon
		display: block;
	}
	
	.emoji {
		flex-shrink: 0;
		line-height: 1;
		margin: 0 .5em;
	}
</style>

<script>
	/**
	 * @todo add emoji via shortcode, to use in a programmatic way (:flag-az: to render Azeirbajan flag, :flag-it: to render Italian flag, :flag-es: to render spanish flag and so on)
	 * @see https://github.com/jm-david/emoji-mart-vue/issues/14#issuecomment-407487575
	 * @see https://github.com/omnidan/node-emoji#format
	 * you can also use this json (from node-emoji npm package) to directly use emoji char, without conversion (modern browsers should render it right) 
	 * @see https://raw.githubusercontent.com/omnidan/node-emoji/master/lib/emoji.json
	 * @see https://twemoji.maxcdn.com/v/latest/svg/2764.svg
	 * @see https://unpkg.com/emoji.json@12.1.1/emoji.json for a list of codepoint and matching emojis
	 * @see https://github.com/amio/emoji.json/blob/master/emoji.json
	 */
	export default {
		props: {
			size: {
				type: Number,
				required: true,
			},
			codepoint: {
				type: String,
				required: false,
			},
			shortcode: {
				type: String,
				required: false,
			},
		},
		data: function () {
  		return {
				"GRIDSOME_IMAGE_PATH": process.env.GRIDSOME_IMAGE_PATH,
				":flag-ae:": "1f1e6-1f1ea",
				":flag-at:": "1f1e6-1f1f9",
				":flag-au:": "1f1e6-1f1fa",
				":flag-az:": "1f1e6-1f1ff",
				":flag-be:": "1f1e7-1f1ea",
				":flag-bh:": "1f1e7-1f1ed",
				":flag-br:": "1f1e7-1f1f7",
				":flag-ca:": "1f1e8-1f1e6",
				":flag-cn:": "1f1e8-1f1f3",
				":flag-es:": "1f1ea-1f1f8",
				":flag-fr:": "1f1eb-1f1f7",
				":flag-gb:": "1f1ec-1f1e7",
				":flag-hu:": "1f1ed-1f1fa",
				":flag-it:": "1f1ee-1f1f9",
				":flag-jp:": "1f1ef-1f1f5",
				":flag-mc:": "1f1f2-1f1e8",
				":flag-mx:": "1f1f2-1f1fd",
				":flag-nl:": "1f1f3-1f1f1",
				":flag-pt:": "1f1f5-1f1f9",
				":flag-qa:": "1f1f6-1f1e6",
				":flag-ru:": "1f1f7-1f1fa",
				":flag-sa:": "1f1f8-1f1e6",
				":flag-sg:": "1f1f8-1f1ec",
				":flag-tr:": "1f1f9-1f1f7",
				":flag-us:": "1f1fa-1f1f8",
				":waving_white_flag:": "1f3f3",// fallback for unknown countries
			};
		},
		computed: {
			codepointFromShortcode: function() {
				return this[this.shortcode];// `this` points to the vm instance
			},
		},
	}
</script>
