<template>
	<ClientOnly>
		<div class="map-wrap">
			<l-map
				v-if="showMap"
				:zoom="zoom"
				:minZoom=2
				:center="center"
				:options="mapOptions"
				@update:center="centerUpdate"
				@update:zoom="zoomUpdate"
			>
				<l-tile-layer
					:url="url"
					:attribution="attribution"
				/>
				<!-- 
				<l-marker
					:key="'pin-0'"
					:ref="'pin0'"
					:icon="icon"
					:lat-lng="[0, 0]"
				>
					<l-popup>ciaone</l-popup>
				</l-marker>
				-->
				<l-marker
					v-for="race in raceList"
					:key="'pin-'+ race.season +'-'+ race.round"
					:ref="`pin-${race.round}`"
					:icon="icon"
					:lat-lng="[race.Circuit.Location.lat, race.Circuit.Location.long]"
				>
					<l-popup>
						<article>
							<h3 class="popup-head">
								<button
									type="button"
									class="popup-btn"
									v-if="race.round > 1"
									@click="changeRound(parseInt(race.round, 10)-1)"
								>
									<Emoji codepoint="23ea" :size="20" />
								</button>
								<div class="popup-title">
									<span>#{{race.round}}</span>&nbsp;<strong>{{race.raceName}}</strong>
								</div>
								<button
									type="button"
									class="popup-btn"
									v-if="race.round < raceList.length"
									@click="changeRound(parseInt(race.round, 10)+1)"
								>
									<Emoji codepoint="23e9" :size="20" />
								</button>
							</h3>
							<span class="emoji-incorporated is-justify-content-flex-start">
								<Emoji :shortcode="shortcodeFromCountry(race.Circuit.Location.country)" :size="20" />
								{{race.Circuit.Location.locality}},
								{{race.Circuit.Location.country}}
							</span>
							<span class="emoji-incorporated is-justify-content-flex-start">
								<Emoji codepoint="1f3c1" :size="20" />
								{{race.Circuit.circuitName}}
							</span>
							<span class="emoji-incorporated is-justify-content-flex-start">
								<Emoji codepoint="1f5d3" :size="20" />
								{{race.date}}
							</span>
							<span class="emoji-incorporated is-justify-content-flex-start">
								<Emoji codepoint="231a" :size="20" />
								{{race.time}}
							</span>
						</article>
					</l-popup>
				</l-marker>
			</l-map>
		</div>
	</ClientOnly>
</template>

<style lang="scss">
	@import "../custom-buefy.scss";// only variables, don't output anything
	
	.map-wrap {
		height: 75vh;
		width: 100%;
	}
	
	.popup {
		
		&-head {
			align-items: center;
			background-color: $black;
			color: $white;
			display: grid;
			grid-template-columns: 40px auto 40px;
			line-height: 1;
			margin: 20px -20px 5px;
			padding: 15px 0;
			position: relative;
			text-align: center;
			
			strong {
				color: $white;
				font-weight: 600;
			}
			
			&::after,
			&::before {
				background: repeating-linear-gradient(
					to right,
					#dd2e44,
					#dd2e44 10px,
					$white 10px,
					$white 20px
				);
				color: black;
				content: ' ';
				height: 7px;
				left: 0;
				position: absolute;
				right: 0;
			}
			
			&::after {
				top: 0;
			}
			
			&::before {
				bottom: 0;
			}
		}
		
		&-title {
			grid-column-start: 2;
			grid-column-end: 3;
		}
			
		&-btn {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
</style>

<script>
	/**
	 * leaflet does not support SSR
	 * @see https://github.com/gridsome/gridsome/issues/646
	 * use a different tile service (firefox mobile refuse to show osm tiles)
	 * @see http://leaflet-extras.github.io/leaflet-providers/preview/
	 */
	//import { latLng, icon, } from "leaflet";
	//import { LMap, LTileLayer, LMarker, LPopup, LTooltip, } from 'vue2-leaflet';
	let latLng, icon;
	let Vue2Leaflet = {};
	if (process.isClient) {
		latLng = require('leaflet').latLng;
		icon = require('leaflet').icon;
		Vue2Leaflet = require('vue2-leaflet');
	}
	
	import Emoji from '~/components/Emoji';
	import country from '~/data/country.json';
	import 'leaflet/dist/leaflet.css';
	
	export default {
		props: {
			raceList: {
				type: Array,
				required: true,
			},
		},
		components: {
			Emoji,
			LMap: Vue2Leaflet.LMap,
			LTileLayer: Vue2Leaflet.LTileLayer,
			LMarker: Vue2Leaflet.LMarker,
			LPopup: Vue2Leaflet.LPopup,
			LTooltip: Vue2Leaflet.LTooltip,
		},
		data() {
  		return {
				zoom: 2,// initial zoom
				center: latLng(47.41322, -1.219482),
				//url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',// nothing at all
				//attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
				url: 'https://tiles.stadiamaps.com/tiles/outdoors/{z}/{x}/{y}{r}.png',
				attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
				icon: icon({
					iconUrl: "./images/emoji/1f4cd.svg",
					iconSize: [36, 36],
					iconAnchor: [18, 36],// The coordinates [x, y] of the "tip" of the icon (relative to its top left corner).
				}),
				currentZoom: 11.5,
				currentCenter: latLng(47.41322, -1.219482),
				mapOptions: {
					scrollWheelZoom: false,
					zoomSnap: 0.5,
				},
				showMap: true,
				country: country,
			};
		},
		computed: {
			codepointFromShortcode: function() {
				return this[this.shortcode];// `this` points to the vm instance
			},
		},
		methods: {
			zoomUpdate(zoom) {
				this.currentZoom = zoom;
			},
			centerUpdate(center) {
				this.currentCenter = center;
			},
			shortcodeFromCountry: function(currentCountry) {// `this` points to the vm instance
				return this.country[currentCountry] ?
					`:flag-${this.country[currentCountry]}:`:
					`:waving_white_flag:`;
			},
			changeRound: function(newRound) {
				//console.log('newRound', newRound);
				//console.log(this.$refs);
				//this.$refs['pin0'].mapObject.openPopup();
				this.$refs['pin-'+ newRound][0].mapObject.openPopup();
			},
		},
	}
</script>
