<template>
	<tr>
		<td><abbr :title="expansion">{{title}}</abbr></td>
		<td>
			{{date}}
			<br />
			{{time}}
		</td>
	</tr>
</template>

<style lang="scss">
	//@import "../custom-buefy.scss";// only variables, don't output anything
</style>

<script>
	export default {
		props: {
			title: {
				type: String,
				required: false,
			},
			expansion: {
				type: String,
				required: false,
			},
			date: {
				type: String,
				required: true,
			},
			time: {
				type: String,
				required: false,
			},
		},
	}
</script>
